ENVIRONMENT=development
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=vacations
JWT_SECRET_KEY=your_jwt_secret_key_here
IMAGE_LOCATION=/api/vacations-list/images/
OPENAI_API_KEY=your_openai_api_key_here
